:root {
    --color-first: #FFF;
    --color-second: #F0F2F5;
    --color-third: #151515;
    --color-fourth: #2D4A22;
    --color-fifth: #49AA26;
    --color-sixth: #363F5F;
    --color-seventh :#969CB2;
    --color-eighth: #E92929;
}

body {
    color: var(--color-sixth);
    background-color: var(--color-second);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}