@media(min-width: 850px) {
    .balance-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .main-modal {
        margin-left: 0rem;
        margin-right: 0rem;
    }   
    
}   
