.section-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;   
    color: var(--color-sixth); 
}

.section-title.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0px;
}
