.modal-add-transaction {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.modal-add-transaction.-active {
    visibility: visible;
}

